// Import Font
@import url('https://fonts.googleapis.com/css2?family=Castoro&family=Lato&display=swap');

// Font Stack
$fs-body: 'Lato', sans-serif;
$fs-heading: 'Castoro', serif;

// Colors
$clr-primary-400: hsla(176, 61%, 19%, 1);
$clr-primary-600: hsl(171, 89%, 25%);
$clr-secondary: hsl(43, 100%, 99%);

$clr-neutral-200: hsl(0, 0%, 23%);
$clr-neutral-700: hsl(0, 0%, 75%);
